* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#mobile-section.mobile-section {
  font-family: "Inter", sans-serif;
  background-image: url(./assets/Frame.jp.jpg);

  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  // background-position: center ;

  .mobile-parent {
    display: flex;

    width: 75%;
    margin: auto;

    justify-content: center;

    // border: 1px solid red;

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      //   border: 1px solid green;

      .left-top {
        width: 70%;
        h1 {
          font-size: 40px;
          font-weight: 700;
          line-height: 52px;
        }
        p {
          font-size: 12px;
          width: 70%;
          line-height: 22px;
        }
      }
      .left-bottom {
        P {
          font-family: Inter;
          font-size: 17px;
          line-height: 48px;
        }

        .left-bottom-input {
          button {
            border: none;
            background-color: #ffffff;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            padding: 14px;
          }

          input {
            margin-bottom: 70px;
            width: 250px;
            padding: 14px;
            border: none;

            border-radius: 6px;
            &::placeholder {
              color: #757575;
            }
          }
        }
      }
    }
    .right {
      //   border: 1px solid green;
      width: 50%;
      img {
        width: 95%;
      }
    }
  }
}

#footer.footer {
  font-family: "Inter", sans-serif;

  background: #05073c;
  .footer-top {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    text-align: center;
    // border: 1px SOLID white;
    p {
      color: #ffffff;

      font-size: 12px;
    }
  }
  .footer-middle {
    line-height: 20.13px;
    border: 1px solid rgba(255, 255, 255, 0.181);

    .section {
      //   border: 1px SOLID RED;
      padding: 15px;
      color: white;
      width: 75%;
      margin: auto;
      padding: 50px 0px;
      .mid-top {
        .top {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .send {
            display: flex;
            border-radius: 8px;
            background: white;
            padding: 0px 10px;

            justify-content: center;
            align-items: center;
            input {
              border: none;
              outline: none;
              padding: 15px 10px;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              &::placeholder {
                color: #757575;
              }
            }
            a {
              color: black;
            }
            button {
              border: none;
              background: none;
            }
          }
        }
        p {
          font-size: 14px;
          font-weight: 500;
        }
        h1 {
          font-size: 20px;
          font-weight: 500;
        }

        display: grid;
        // font-family: "inter";
        grid-template-columns: 38% 18% 18% auto;
        gap: 10px;
        .child1,
        .child2,
        .child3,
        .child4,
        .child5 {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0px 10px;
        }
      }
      .child5 {
        p {
          padding: 0px 20px;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    color: white;
    align-items: center;
    .footer-img {
      display: flex;
      align-items: center;
      padding: 20px 0px;
    }
  }
}

@media screen and (max-width: 900px) {
  #mobile-section.mobile-section {
    .mobile-parent {
      flex-direction: column;
      width: 100%;
      padding: 20px 0px;
      .left {
        width: 100%;
        // padding: 10px;
        .left-top {
          width: 100%;

          h1 {
            font-size: 30px;
            text-align: center;
          }
          p {
            text-align: center;
            margin: auto;
          }
        }

        .left-bottom {
          P {
            text-align: center;
            width: 100%;
          }
          .left-bottom-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0 20px;
            button {
              width: 30%;
            }
            input {
              width: 100%;
              margin-bottom: 0px;
            }
          }
        }
      }

      .right {
        width: 100%;
      }
    }
  }
  #footer.footer {
    .footer-top {
      width: 100%;
      padding: 20px;
      gap: 10px;
    }
    .footer-middle {
      .section {
        width: 100%;
        padding: 30px;
        .mid-top {
          grid-template-columns: 48% 48%;

          gap: 20px;
        }
        .child5 {
          p {
            padding: 0px;
          }
        }
      }
    }
    .footer-bottom {
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 601px) {
  #mobile-section.mobile-section {
    .mobile-parent {
      flex-direction: column;
      width: 100%;
      padding: 20px 0px;
      .left {
        width: 100%;
        // padding: 10px;
        .left-top {
          width: 100%;

          h1 {
            font-size: 30px;
            text-align: center;
          }
          p {
            text-align: center;
            margin: auto;
          }
        }

        .left-bottom {
          P {
            text-align: center;
            width: 100%;
          }
          .left-bottom-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0 20px;
            button {
              width: 30%;
            }
            input {
              width: 100%;
              margin-bottom: 0px;
            }
          }
        }
      }

      .right {
        width: 100%;
      }
    }
  }
  #footer.footer {
    .footer-top {
      width: 100%;
      padding: 20px;
      gap: 10px;
    }
    .footer-middle {
      .section {
        width: 100%;
        padding: 30px;
        .mid-top {
          grid-template-columns: 100%;
          justify-content: center;

          align-items: center;
          gap: 20px;
        }
        .child5 {
          p {
            padding: 0px;
          }
        }
      }
    }
    .footer-bottom {
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }
  }
}
