body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
}

.item1 {
    grid-area: img1;
}

.item2 {
    grid-area: img2;
}

.item3 {
    grid-area: img3;
}

.item4 {
    grid-area: img4;
}

.item5 {
    grid-area: img5;
}

.item6 {
    grid-area: img6;
}

.container_grid {
    background-color: #FFFFFF;
    width: 100%;

    .cont2 {
        max-width: 1200px;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;
        padding: 10px;

        h1 {
            padding-left: 10px;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
        }

        .grid-container {
            padding: 10px;
            display: grid;
            grid-template-areas:
                'img1 img1 img1 img2 img2 img3 img3 img3 img3'
                'img1 img1 img1 img4 img4 img5 img5 img6 img6';
            gap: 10px;            
            padding: 10px;

            >div>img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                position: relative;
                background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
            }
            
            >div>p{
                position: absolute;
                margin-top: -60px;               
                font-size: 19.53px;
                font-weight: 500;
                line-height: 30px;
                margin-left: 30px;
                text-align: left;
                color: white;
            }
        }


    }
}

.cont_out {
    background-color: #EB662B0D;
    width: 100%;

    .cont2 {
        max-width: 1200px;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;

        h1 {
            padding-left: 10px;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 30px 20px;
            justify-content: space-evenly;
            max-width: 1200px;

            >.main_div {
                background-color: #FFFFFF;
                width: 270px;
                height: auto;
                top: 95px;
                border: 1px solid #E7E6E6;
                left: 15px;
                border-radius: 12px;
                border: 1px 0px 0px 0px;
                opacity: 0px;

                >img {
                    width: 100%;
                    border-radius: 12px 12px 0px 0px;
                }

                >.sec_div {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 10px;

                    >i {
                        color: #E2AD64;
                        font-size: 10px;
                    }

                    >span {
                        font-family: Inter;
                        font-size: 12.29px;
                        font-weight: 400;
                        line-height: 24.38px;
                        text-align: left;
                        color: #717171;
                    }

                    >p {
                        font-size: 15.88px;
                        font-weight: 500;
                        margin-top: 10px;
                        line-height: 24px;
                        text-align: left;
                        color: #05073C;
                        margin-bottom: 3px;
                    }

                    .third_div {
                        margin-top: 10px;
                        border-top: 1px solid #E7E6E6;
                        padding-top: 10px;
                        padding-bottom: 40px;

                        .left-half {
                            float: left;
                            font-family: Inter;
                            font-size: 12.59px;
                            font-weight: 400;
                            line-height: 24.38px;
                        }

                        .right-half {
                            font-family: Inter;
                            font-size: 12.59px;
                            font-weight: 400;
                            line-height: 24.38px;
                            float: right;

                            >span {
                                font-weight: 500;
                            }
                        }
                    }

                }
            }
        }
    }
}

.container {
    background-color: #FFFFFF;
    width: 100%;

    .cont2 {
        max-width: 1200px;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;

        h1 {
            padding-left: 10px;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 30px 20px;
            justify-content: space-evenly;
            max-width: 1200px;

            >.main_div {
                background-color: #FFFFFF;
                width: 270px;
                height: auto;
                top: 95px;
                left: 15px;
                border-radius: 12px;
                border: 1px 0px 0px 0px;
                opacity: 0px;

                >img {
                    width: 60px;
                    height: 60px;
                }

                >.sec_div {

                    >i {
                        color: #E2AD64;
                        font-size: 10px;
                    }

                    >span {
                        font-family: Inter;
                        font-size: 12.29px;
                        font-weight: 400;
                        line-height: 24.38px;
                        text-align: left;
                        color: #717171;
                    }

                    >p {
                        font-family: Inter;
                        font-size: 17.72px;
                        font-weight: 500;
                        line-height: 27px;
                        text-align: left;
                    }

                    >div>span {
                        font-family: Inter;
                        font-size: 14.88px;
                        font-weight: 400;
                        line-height: 28.13px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.cont_out_2 {
    background-color: #05073C;
    width: 100%;

    .cont2 {
        max-width: 1200px;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;

        h1 {
            color: #FFFFFF;
            margin-left: 10px;
            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: left;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 30px 20px;
            justify-content: space-evenly;
            max-width: 1200px;

            >.main_div {
                width: 270px;
                height: auto;
                top: 95px;
                left: 15px;
                border-radius: 12px;
                border: 1px 0px 0px 0px;
                opacity: 0px;

                >img {
                    width: 100%;
                    border-radius: 12px;
                }
            }
        }
    }
}