@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: Inter;
    
}

div>button{
    box-sizing: border-box;
}

header{
    /* width: 1920px; */
    height: 725px;
    margin: auto;
    background-size: cover;
    background-image: url(./assest/Frame.png);
}


header> .container{
    max-width:1320px ;
    margin: auto;
   
 
}

nav{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 113px;
    padding: 22px 0px;
   
}

.nav_left{
    display: flex;
    gap: 30px;
    align-items: center;
   
 
}
.nav_left img{
    margin-right: 51px;
    top: 6.06px;
}

.nav_right>div{
   margin-right: 63px;
}


.nav_right{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav span{
  
    font-size: 14.3px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #05073C;
}
.clr{
    color: #EB662B;
}

nav button{
    font-family: Inter;
    font-size: 14.3px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #05073C;
    left: 284.61px;
    padding: 12px 20.8px 12px 21px;
    border-radius: 200px;
    border: 2px solid #05073C;
    background-color: transparent;
 
}

.fram_title{
    width: 880px;
    height: 254px;
   
    top: 134px;
    /* border: 1px solid black; */
    left: 520px;
    padding: 0px 15px ;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
   
}

.fram_title h1{
    font-family: Inter;
    max-width: 700px;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: linear-gradient(90.84deg, #EE8C61 27.01%, #4C43C4 87.3%);

  
}

.searchForm{
    width: 850px;
    height: 80px;
    top: 174px;
    left: 15px;
    padding: 10px;
    border-radius: 200px;
    display: flex;
  
}


.searchForm .searchForm_form{
    width: 850px;
    height: 80px;
    top: 174px;
    left: 15px;
    padding: 10px;
    border-radius: 200px;
    display: flex;
    /* border: 1px solid black; */
}