
.container {
    display: flex;
    flex-wrap: wrap;
  }
  

.card {
  width: 325px;
  margin-bottom: 20px;
  padding: 20px;
}

.card img {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
}

.card-content {
  padding-right: 10px;
}


